<header>
  <%= image_tag 'bitlab_jukebox.png' %>
</header>
<div class="container">
  <% if @video.nil? or !@video.valid_url? %>
    <%= render 'empty_list' %>
  <% else %>
    <div id="player"></div>
    <%= render 'next_list' %>
    <%= render 'player_script' %>
  <% end %>
</div>
